*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --top: #FF6900;
    --light: #FFFFFF;
    --full: #008000;
    --discount: #FF0000;
    --dark: #1A1A1A;
}

.debug .col-4{
    border: 2px solid black;
    height:400px;
}
/*Common*/
.d-flex{
    display: flex;
}
.f-wrap{
    flex-wrap: wrap;
}
.j-between{
    justify-content: space-between;
}
.container{
    margin: auto;
    width: 80%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    width: calc(100%/12*4);
    padding: 1rem;
   
}
.absolute{
position: absolute;
top: 0;
left: 0;
}
.relative{
    position: relative;
}


/*HEADER*/
#site_header{
    height:40px;
    background-color: var(--top);
}


/*endheader*/

/*main*/


img{
    max-width: 100%;
}

.top{

}
.card:hover .top{
    display: none;
}

